@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f5f7;
  font-family: "Sarabun", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, span {
  font-family: "Roboto", serif;
}

@layer components {
  .accordion summary {
    @apply flex gap-4 justify-start w-5/6 mx-auto my-4
  }

  .accordion summary p {
    @apply text-xl md:text-2xl font-semibold font-roboto
  }

  .form-control label,
  .form-order label {
    @apply font-semibold md:text-lg
  }

  .form-control label,
  .form-control input {
    @apply block md:text-lg
  }

  .form-control input {
    @apply bg-slate-100 border-none text-base w-2/3 rounded-md
  }

  
}
